

h1 {
    font-family: Verdana;
    font-size: 20pt;
    font-style: italic;
    text-decoration: underline;
}

#quadro {
    position: absolute;
    background-color: aqua;
    top: 23%;
    left: 25%;
    width: 50%;
    height: 54%;
    border-color: 3px solid #0000FF;
    padding: 10px;
}
